
.containerCatalogo {
    display: flex;
    justify-content: center;
}

.motoCatalogo {
    width: 100%;
}


/* --------Mobile------------ */

@media (max-width: 576px) {
    .containerCatalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .motoCatalogo {
        width: 100%;
    }
}